:root
{
    --top_margin: 3ex;
    --content_width: 50ex;
    --minus_content_width: calc(var(--content_width)*-1)
}



body
{
    background-image: url("../graphics/gplaypattern_2x.png");
    z-index: 0;
    align-content: center;
    margin-top: var(--top_margin);
    width: 100%;
    flex-direction: column;
}

h1
{
    color: #6A040F;
    text-align: center;
    width: auto;
}

img
{
    width: var(--content_width);
}

.center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center div
{
    display: flex;
    
    
}

.image
{
    background-size: 100% 100%;
    width: var(--content_width);
    height: calc(var(--content_width)/2.47);
}

.mark
{
    background-size: 100% auto;
    opacity: 0.60;
    width: var(--content_width);
    height: var(--content_width);
    z-index: 1;
}

.thesame-size
{
    position: relative;
    top:  var(--minus_content_width);
    z-index: 2;
    width: var(--content_width);
    height: var(--content_width);
    font-size: large;
    font-weight: 550;
    opacity: 1;
    color: black;
}